@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Archivo&family=Bebas+Neue&family=Fira+Sans:wght@300&family=Gotu&family=Lato&family=Montserrat&family=Open+Sans:wght@700&family=Oswald:wght@300&display=swap');



.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 791px;
    width: 100%;
    background-image: url(./images/image_background.png);
    
}
.header__name{
    height: 100px;
    width: 300px;
}
.header__link{
    text-transform: uppercase;
    font-family: 'Gotu', sans-serif;
    font-size: 14px;
    color: black;
    text-decoration: none;
    margin: 0px 25px;
    font-weight: 500;
    transition: 0.5s;
    background-repeat: no-repeat;
    background-size: cover;
}
.header__link:hover{
    transition: 0.5s;
    color: rgb(153, 94, 94);
}
.header__text-wrapper{
    margin-top: 45px;
    height: 17.2px;
}
.header__item-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    
}
.header__search{
    margin-top:45px;
    width: 45px;
    height: 60px;
    margin-right: 70px;
}
.section__header{
    font-family: 'Gotu', sans-serif;
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    position: absolute;
    top: 320px;
    
}
.section__header-subtitle{
    text-transform: uppercase;
    font-size: 17px;
    line-height: 65px;  
}
.section__header-title{
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2px;
}
.section__header-text{
    font-size: 16px;
    margin-top: 20px;
    line-height: 25px;
}
.section__header-link{
    font-size: 17px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    margin-top: 50px;
    transition: 0.5s;
}
.section__header-link:hover{
    transition: 0.5s;
    color: rgb(153, 94, 94);
}
.arrivals__content-box{
    background-image: url(./images/image\ 4.png);
    width: 402px;
    height: 674px;
    border-radius:9px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
    justify-content: end;
    font-family: 'Gotu', sans-serif;
}
.arrivals__content-box:hover{
    transition: 0.5s;
    transform: scale(1.03);
}
.arrivals__subtitle{
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing:1px;
}
.arrivals__title{
    font-size: 18px;
    letter-spacing:1.5px;
}
.arrivals__price{
    margin-bottom: 20px;
}
.arrivals__content-boxsecond{
    background-image: url(./images/image\ 3.png);
    width: 402px;
    height: 674px;
    border-radius:9px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:25px;
    justify-content: end;
    font-family: 'Gotu', sans-serif;
}
.arrivals__content-boxsecond:hover{
    transition: 0.5s;
    transform: scale(1.03);
}
.section__arrivals{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 50px 20px;
}
.arrivals__text-subtitle{
    text-transform: uppercase;
    font-size: 18px;
}
.arrivals__text{
    font-family: 'Gotu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
    margin-left: 50px;
}
.arrivals__text-title{
    font-size: 32px;
}
.arrivals__text-information{
    font-size: 19px;
    text-align: center;
    line-height: 30px;
}
.arrivals__text-link{
    font-size: 16px;
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}
.arrivals__text-link:hover{
    color: rgb(153, 94, 94);
    transition: 0.5s;
}